_site/
.sass-cache/
.jekyll-cache/
.ruby-version
*.swp
.jekyll-metadata
images/generative_logo
Gemfile.lock

# Custom Bundle configuration
.bundle/config

# Emacs backup and temp files.
*~
\#*\#
.#*

