#navigation {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}


#small-top-nav {
    .title-bar-logo {
        margin-left: auto;
        font-weight: bold;
    }
}

#top-nav {
    align-items: stretch;

    .top-bar-left {
        display: flex;
        align-items: stretch;

        li {
            &:hover {
                background-color: $ci-sand;
            }
        }
    }

    .top-bar-right {
        display: flex;
        align-items: stretch;

        li {
            &:hover {
                background-color: $ci-sand;
            }
        }
    }

    ul {
        align-items: stretch;
    }

    li {
        text-transform: uppercase;
        font-size: rem-calc(14);
        font-weight: normal;
        display: flex;
        align-items: center;
    }

    .active_nav {
        background-color: scale-color($ci-sand, $lightness: 30%);
    }

    .menu-text {
        color: $secondary-color;
    }

    .top-bar-title {
        .top-bar-title-name {
            margin-left: 0rem;
            font-family: "LatoWebHeavy";
            font-weight: normal;
            font-style: normal;
            font-size: rem-calc(16);
        }

        .header_logo {
            padding-top: 0px;
            padding-right: 10px;
            padding-left: 15px;
            padding-bottom: 0px;
        }
    }

    .inactive {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: $grey-4;
    }
    .inactive:hover {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: $grey-4;
    }
    .inactive:active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: $grey-4;
    }
}


