{% assign doc_collection = include.collection %}
<div class="grid-x grid-margin-x large-up-3 medium-up-2 small-up-2">
    {% assign chapters = site.data["ml"][page.lang]["collections"][doc_collection] | where: "type", "chapter" | where_exp: "item", "item.layout != 'doc_page_entry'" %}
    {% for cur_chapter in page.chapters %}
      {% assign chapter_page = chapters | where: "slug", cur_chapter %}
      {% assign chapter_page = chapter_page[0] %}
      <div class="cell">
        <div class="card">
	      <div class="card-divider">
            <b>{{ chapter_page.title }} </b>
	      </div>
	      <a href="{{ chapter_page.url | relative_url }}"><img src="{{ site.image_dir }}/{{ chapter_page.image_dir }}/section_image.png" style="width: 100%;"></a>
	      <div class="card-section">
	        {{ chapter_page.teaser }}
	      </div>
        </div>
      </div>
    {% endfor %}
</div>

