{% assign doc_collection = include.collection %}
<div class="grid-x grid-margin-x large-up-3 medium-up-2 small-up-2">
    {% assign children = site.data["ml"][page.lang]["collections"][doc_collection] | where: "parent", page.namespace %}
    {% for cur_section in page.sections %}
      {% assign section_page = children | where: "slug", cur_section %}
      {% assign section_page = section_page[0] %}
      <div class="cell">
        <div class="card">
	      <div class="card-divider">
            <b>{{ section_page.title }} </b>
	      </div>
	      <a href="{{ section_page.url | relative_url}}"><img src="{{ site.image_dir }}/{{ section_page.image_dir }}/section_image.png" style="width: 100%;"></a>
	      <div class="card-section">
	        {{ section_page.teaser }}
	      </div>
        </div>
      </div>
    {% endfor %}
</div>

