{% assign doc_collection = include.collection %}
<div class="grid-x grid-margin-x large-up-3 medium-up-2 small-up-2">
    {% assign chapters = site.data["ml"][page.lang]["collections"][doc_collection] | where: "type", "chapter" | where_exp: "item", "item.layout != 'doc_page_entry'" | sort: "nav_order" %}
    {% for cur_chapter in chapters %}
    <div class="cell">
      <div class="card">
	<div class="card-divider">
          <b>{{ cur_chapter.title }} </b>
	</div>
	<a href="{{ cur_chapter.url | relative_url }}"><img src="{{ site.image_dir }}/{{ cur_chapter.image_dir }}/section_image.png" style="width: 100%;"></a>
	<div class="card-section">
	  {{ cur_chapter.teaser }}
	</div>
      </div>
     </div>
    {% endfor %}
</div>

