{% if page.license and page.license != "None" %}
{% assign license = site.data.license[page.license] %}
{% if page.ml_collection and page.ml_collection != "None" %}
  {% assign col_overview = site.data["ml"][page.lang]["collections"][{{page.ml_collection}}] | where: "type", "chapter" | where_exp: "item", "item.layout == 'doc_page_entry'" %}
  {% assign col_title = col_overview[0].title %}
  {% assign col_url = col_overview[0].url %}
{% endif %}
<hr>
<div class="licence-note grid-x grid-padding-x">
  <div class="cell shrink">
    <div class="icon" style="margin-top: 7px;"><img src="{{ site.image_dir | append: 'license/' | append: license.icon_img[page.lang] | relative_url }}"/></div>
  </div>
  <div class="cell auto">
    {% if page.copyright %}
      {% if page.copyright.data %}
        {% assign cp_date=copyright.data %}
      {% else %}
        {% assign cp_date=site.time | date: '%Y' %}
      {% endif %}
      <p class="copyright">Copyright &#169; <i>{{cp_date}} {{page.copyright.author}}</i>.</p>
    {% endif %}
    {% if page.lang == 'de' %}  
      <p class="title">Dieser Artikel ist unter einer <a href="{{license.url[page.lang]}}" target="blank">{{license.name_long[page.lang]}} Lizenz</a> lizensiert.</p>
      <p class="description">{{license.description[page.lang]}}</p>
      <p class="attribution">Wenn möglich, verwenden Sie die folgende Form um diesen Artikel zu zitieren:<br><a href="{{ site.url }}">{{ site.title }}</a>, {% if col_title %}<a href="{{ col_url }}">{{ col_title }}</a>, {% endif %}<a href="{{page.url}}">"{{page.title}}"</a>, <a href="/info" target="blank">{{page.copyright.author}}</a>, {{page.date | date: '%Y-%m-%d'}}, <a href="https://www.mertl-research.at">www.mertl-research.at</a>, lizensiert unter <a href="{{license.url[page.lang]}}" target="_blank">{{license.name[page.lang]}}</a></p>
      {% if page.basedon %}
        basierend auf:<br>
        {% for cur_basedon in page.basedon %}
    <p class="basedon">{{cur_basedon}}</p>
        {% endfor %}
      {% endif %}
    {% else %}
      <p class="title">This article is licensed under a  <a href="{{license.url[page.lang]}}" target="blank">{{license.name_long[page.lang]}} license</a>.</p>
      <p class="description">{{license.description[page.lang]}}</p>
      <p class="attribution">If possible, please cite this article using the following form:<br><a href="{{ site.url }}">{{ site.title }}</a>, {% if col_title %}<a href="{{ col_url }}">{{ col_title }}</a>, {% endif %}<a href="{{page.url}}">"{{page.title}}"</a>, {{page.copyright.author}}</a>, {{page.date | date: '%Y-%m-%d'}}, <a href="https://www.mertl-research.at">www.mertl-research.at</a>, licensed under <a href="{{license.url[page.lang]}}" target="_blank">{{license.name[page.lang]}}</a></p>
      {% if page.basedon %}
        based on:<br>
        {% for cur_basedon in page.basedon %}
          <p class="basedon">{{cur_basedon}}</p>
        {% endfor %}
      {% endif %}      
    {% endif %}
         
  </div>
</div>
{% elsif page.copyright %}
{% if page.copyright.data %}
  {% assign cp_date=copyright.data %}
{% else %}
  {% assign cp_date=site.time | date: '%Y' %}
{% endif %}
<hr>
<div class="licence-note grid-x grid-padding-x">
  <div class="cell auto">
    <p class="copyright">Copyright &#169; <i>{{cp_date}} {{page.copyright.author}}</i>.</p>
  </div>                                                                                           
</div>
{% endif %}
